@font-face {
  font-family: wandertucker;
  src: url("fonts/wandertucker/Wandertucker.ttf");
}
@font-face {
  font-family: existence;
  src: url("fonts/existence/ExiL-T1/Existence-Light.PFB");
}

@font-face {
  font-family: LG-cafe;
  src: url("fonts/louis_george_caf/Louis\ George\ Cafe.ttf");
}

:root {
  --main-text-color: #707070;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  max-width: 1080px;
  margin: auto;
}

img {
  max-width: 100%;
}

h1,
nav,
footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-text-color);
}

h1 {
  font-family: wandertucker;
  font-size: 300%;
  margin-bottom: 0px;
}

h2 {
  font-family: LG-cafe;
}

p {
  font-family: LG-cafe;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

#home-hero {
  min-width: 100%;
}

.overlay {
  padding: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.overlay > h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 10;
  text-align: center;
  color: whitesmoke;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
}

.overlay > img {
  grid-column: 1/2;
  grid-row: 1/2;
}

ul {
  /* display: flex; */
  font-size: 25px;
  list-style-type: none;
  position: relative;
}

li {
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  font-family: existence;
}

#topics-menu {
  display: none;
  padding-left: 0px;
  margin-top: 10px;
  font-size: 0.9em;
}

#topics-desktop {
  display: none;
}

nav li a:hover {
  transition: color 0.3s ease;
  color: black;
}

#topics:hover ul {
  display: block;
  text-align: center;
}

.article {
  border: 2px, solid, black;
}

#mainArticle {
  padding: 1em;
}

#activityName {
  text-transform: capitalize;
}

@media only screen and (min-width: 992px) {
  #topics {
    display: none;
  }

  #topics-desktop {
    display: flex;
    position: relative;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 0px;
  }
}
